<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Modificar rol
    </title>
</head>
<body>
    {% if "Modificar Rol" in permisos %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <br><br>
            <input type="submit" name="OK" value="Modificar">&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'roles:index' %}">Cancelar</a>
        </form>
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
        <a href="http://localhost:8000/">Home</a><br>
    {% endif %}
</body>
</html>