{% extends 'base/home.html' %}
{% block titulo %}Gestionar Roles{% endblock titulo %}
{% block cuerpo %}
    {% if 'Gestionar Roles De Un Usuario' in permisos %}
        <h1>Gestionar roles del miembro {{ miembro.usuario.user.username }}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="OK">
            <a href="{% url 'proyectos:ver_detalles' proyecto_id %}">Cancelar</a>
        </form><br>
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
        <a href="http://localhost:8000/">Home</a><br>
    {% endif %}
{% endblock cuerpo %}