{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}Historial de modificaciones{% endblock titulo %}
{% block cuerpo %}
    <h2>Historial de modificaciones</h2>
    <div class="contenido" style="display: block; padding: 18px">
        <div style="max-height: 320px; overflow: scroll">
            <table>
                <tr>
                    <th style="width: 100px">Fecha</th>
                    <th style="width: 100px">Accion</th>
                    <th style="width: 100px">Elemento</th>
                    <th style="width: 750px">Informacion</th>
                    <th>Responsable</th>
                </tr>
                {% for h in historial %}
                    <tr>
                        <td>{{ h.fecha }}</td>
                        <td>{{ h.accion }}</td>
                        <td>{{ h.elemento }}</td>
                        <td>{{ h.informacion }}</td>
                        <td>{{ h.responsable }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div><br>
    <div class="enlace">
        <a href="{% url 'proyectos:ver_detalles' proyecto.id  %}">Volver</a>
    </div><br>
{% endblock cuerpo %}
