{% extends 'base/home.html' %}
{% block titulo %}Lista de Proyectos{% endblock titulo %}
{% block cuerpo %}
    <h1>Proyectos</h1>
    {% if "Crear Proyecto" in permisos %}
        <div class="enlace">
        <a href="{% url 'proyectos:crear_proyecto' %}">Crear Proyecto</a>
        </div><br><br>
    {% endif %}
    {% if proyectos %}
        {% for proyecto in proyectos %}
            <a href="{% url 'proyectos:ver_detalles' proyecto.id %}">
                <div class="lista">
                    <p>{{ proyecto.nombre }}</p>
                    <p style="float: right">Estado: {{ proyecto.estado }}</p>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <h1>No hay proyectos</h1>
    {% endif %}
    <br>
    <div class="enlace"><a href="{% url 'home' %}">Home</a><br></div>
{% endblock cuerpo %}