<html>

    <body>

        <h1>Creacion de Proyecto</h1>

        {% if form.errors %}

        <p style="color: red;">Por favor revisa este campo</p>

        {% endif %}

    <form action="" method="POST" >{% csrf_token %}

        <table>

            {{ form.as_table }}

        </table>

        <input type="text" name="nombre">

        <input type="text" name="descrip">

        <input type="text" name="scrummast">

        <!-- <input type="submit" value="Asignar Usuarios">

        <input type="submit" value="Desasignar Usuarios">

        <input type="submit" value="Administrar Roles"> -->

        <input type="submit" value="Crear Proyecto">

    </form>

    </body>

</html>