{% extends 'base/home.html' %}
{% block titulo %}Lista de Proyectos{% endblock titulo %}
{% block cuerpo %}
    <h1>Proyectos</h1>
    {% if "Crear Proyecto" in permisos %}
        <a href="{% url 'proyectos:crear_proyecto' %}">Crear Proyecto</a><br><br>
    {% endif %}
    {% if proyectos %}
        {% for proyecto in proyectos %}
        <tr>
            <td>{{ proyecto.id }}</td>
            <td><a href="{% url 'proyectos:ver_detalles' proyecto.id %}">{{ proyecto.nombre }}</a></td>
            <td>{{ proyecto.descripcion }}</td>
            <br>
        </tr>
        {% endfor %}
    {% else %}
        <h1>No hay proyectos</h1>
    {% endif %}
    <br><br>
    <a href="{% url 'home' %}">Home</a><br>
{% endblock cuerpo %}