{% extends 'base/home.html' %}
{% block titulo %}{{ proyecto }}{% endblock titulo %}
{% block proyecto %}
    <h1>Proyecto: {{ proyecto }}</h1>
{% endblock proyecto %}
{% block cuerpo %}
    <h3>Informacion general</h3>
    <div class="contenido" style="display: block">
        <h3>Estado</h3>
        <p>{{ proyecto.estado }}</p>
        <h3>Descripcion</h3>
        <p>{{ proyecto.descripcion }}</p>
        <h3>Fecha de inicio</h3>
        <p>{{ proyecto.fecha_inicio }}</p>
        <h3>Fecha final</h3>
        <p>{{ proyecto.fecha_fin }}</p>
    </div>
    <h3>Miembros</h3>
    <table>
        <tr>
            <th>Usuario</th>
            <th>Rol</th>
        </tr>
        {% for m in miembros %}
            <tr>
                <td>{{ m.usuario }}</td>
                <td>
                    {% if m.rol.get_queryset %}
                        {% for r in m.rol.get_queryset %}
                            {{ r }}<br>
                        {% endfor %}
                    {% else %}
                        Sin roles
                    {% endif %}</td>
                {% if 'Gestionar Roles De Un Usuario' in permisos %}
                    <td class="enlace"><a href="{% url 'proyectos:gestionar_roles' proyecto.id m.id %}">Gestionar Roles</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table><br>
    <div class="enlace">
    {% if proyecto.estado == 'Planificacion' %}
        {% if "Iniciar Proyecto" in permisos %}
        <button class="boton" onclick="location.href='{% url 'proyectos:iniciar_proyecto' proyecto.id %}'">Iniciar</button>
        {% endif %}
    {% elif proyecto.estado == 'En ejecucion' %}
        {% if "Finalizar Proyecto" in permisos %}
        <button class="boton" onclick="location.href='{% url 'proyectos:finalizar_proyecto' proyecto.id %}'">Finalizar</button>
        {% endif %}
        {% if "Cancelar Proyecto" in permisos %}
        <button class="boton" onclick="location.href='{% url 'proyectos:cancelar_proyecto' proyecto.id %}'">Cancelar</button>
        {% endif %}
    {% endif %}
    {% if proyecto.estado == 'Planificacion' or proyecto.estado == 'En ejecucion' %}
        {% if 'Visualizar Roles' in permisos %}
            <a href="{% url 'roles:index' proyecto.id %}">Roles</a>
        {% endif %}
        {% if "Asignar Miembros" in permisos %}
        <a href="{% url 'proyectos:asignar_usuarios' proyecto.id %}">Asignar Miembros</a>
        {% endif %}
        {% if "Desasignar Miembros" in permisos %}
        <a href="{% url 'proyectos:desasignar_usuarios' proyecto.id %}">Desasignar Miembros</a>
        {% endif %}
    {% endif %}
    {% if "Visualizar US" in permisos %}
        <a href="{%  url 'userstory:listar_us' proyecto.id %}">Product Backlog</a>
    {% endif %}
    {% if "Visualizar Sprints" in permisos and not proyecto.estado == 'Planificacion' %}
        <a href="{%  url 'sprints:index' proyecto.id %}">Sprints</a>
    {% endif %}
    <a href="{% url 'proyectos:listar_proyectos' %}">Volver</a>
    </div><br><br>
{% endblock cuerpo %}