{% extends 'base/home.html' %}
{% block titulo %}Proyectos{% endblock titulo %}
{% block cuerpo %}
    <h1>Proyectos</h1>
    <a href="{% url 'proyectos:crear_proyecto' %}">Crear nuevo proyecto</a>
    {% if project_list %}
        <table>
            {% for proyecto in project_list %}
                <tr>
                    <td style="width:100%">{{ rol.nombre }}</td>
                    <td><a href="{% url 'proyectos:asignar_usuarios' proyecto.id %}">Asignar Usuarios</a></td>
                    <td><a href="{% url 'proyectos:desasignar_usuarios' proyecto.id %}">Desasignar Usuarios</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay proyectos disponibles.</p>
    {% endif %}
{% endblock cuerpo %}