{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}Roles{% endblock titulo %}
{% block cuerpo %}
    {% if "Visualizar Roles" in permisos %}
        <h1>Roles</h1>
        {% if "Crear Rol" in permisos %}
            <div class="enlace">
                <a href="{% url 'roles:crear_rol' proyecto_id %}">Crear</a>
            </div><br><br>
        {% endif %}
        {% if role_list %}
            {% for rol in role_list %}
                <button type="button" class="cortina">
                    <p>{{ rol.nombre }}</p>
                </button>
                <div class="contenido" style="padding-bottom: 18px">
                    <h3>Descripcion</h3>
                    <p>{{ rol.descripcion }}</p>
                    {% if "Modificar Rol" in permisos %}
                        <div class="enlace"><a href="{% url 'roles:modificar_rol' rol.id proyecto_id %}">Modificar</a></div>
                    {% endif %}
                    {% if "Eliminar Rol" in permisos %}
                        <div class="enlace"><a href="{% url 'roles:eliminar_rol' rol.id proyecto_id %}">Eliminar</a></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No hay roles disponibles.</p>
        {% endif %}
        <br><br>
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
    {% endif %}
    <div class="enlace">
    <a href="{% url 'proyectos:ver_detalles' proyecto_id %}">Volver</a><br>
    </div>

    <script>
        var cortina = document.getElementsByClassName("cortina")
        var i;

        for (i = 0; i < cortina.length; i++) {
            cortina[i].addEventListener("click", function() {
                this.classList.toggle("activo");
                var contenido = this.nextElementSibling;
                if (contenido.style.display === "block") {
                    contenido.style.display = "none";
                } else {
                    contenido.style.display = "block";
                }
            })
        }
    </script>
{% endblock cuerpo %}