{% extends 'base/home.html' %}
{% block titulo %}Roles{% endblock titulo %}
{% block cuerpo %}
    {% if "Visualizar Roles" in permisos %}
        <h1>Roles</h1>
        <a href="{% url 'roles:crear_rol' proyecto_id %}">Crear</a><br><br>
        {% if role_list %}
            <table>
                {% for rol in role_list %}
                    <tr>
                        <td style="width:100%">{{ rol.nombre }}</td>
                        <td><a href="{% url 'roles:modificar_rol' rol.id proyecto_id %}">Modificar</a></td>
                        <td><a href="{% url 'roles:eliminar_rol' rol.id proyecto_id %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No hay roles disponibles.</p>
        {% endif %}
        <br><br>
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
    {% endif %}
    <a href="{% url 'proyectos:ver_detalles' proyecto_id %}">Volver</a><br>
{% endblock cuerpo %}