{% extends 'base/home.html' %}
{% block titulo %}Formulario de permiso{% endblock titulo %}
{% block cuerpo %}
    <form action="" method="POST">
        {% if "Visualizar Permisos" in permisos %}
        <h1>Crear Permiso</h1>
            {% csrf_token %}
            {{ form }}
            <br><br>
            <input type="submit" value="Crear"> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'roles:permiso_index' %}">Cancelar</a>
            <!--<button class="cancel-link btn btn-default" onclick="location.href='{% url 'roles:permiso_index' %}'">Cancelar</button>!-->
        {% else %}
            <h1>No tienes los permisos para visualizar esta pagina</h1>
            <a href="http://localhost:8000/">Home</a><br>
        {% endif %}
    </form>
{% endblock cuerpo %}