{% extends 'base/home.html' %}
{% block titulo %}Permisos{% endblock titulo %}
{% block cuerpo %}
    {% if "Crear Permiso" in permisos %}
        <h1>Permisos</h1>
        <a href="{% url 'roles:crear_permiso' %}">Crear permiso</a><br><br>
        {% if permiso_list %}
            <table>
                {% for permiso in permiso_list %}
                    <tr>
                        <td style="width:100%">{{ permiso.nombre }}</td>
                    </tr>
                {% endfor %}
            </table><br>
        {% else %}
            <p>No hay permisos disponibles.</p>
        {% endif %}
        <a href="{% url 'home' %}">Home</a><br>
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
        <a href="{% url 'home' %}">Home</a><br>
    {% endif %}
{% endblock cuerpo %}