<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Usuario</title>
</head>
<body>
{% block encabezado %}
    <h1> Registrar nuevo usuario</h1>
{%  endblock %}
{% block contenido %}
    <form id="formulario" method="post" action="">{% csrf_token %}
        <table>{{ usuario }}
            {{ formulario }}</table>
        <br>
        <input type="submit" value="Registrar"/> &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="cancel-link btn btn-default" onclick="location.href='{% url 'usuarios:listar_usuarios' %}'">Cancelar</button>
    </form>

{% endblock %}
</body>
</html>