{% extends 'base/home.html' %}
{% block titulo %}Nuevo Usuario{% endblock titulo %}
{% block cuerpo %}
    {% if 'Gestionar Usuarios' in permisos %}
        {% block encabezado %}
            <h1> Registrar nuevo usuario</h1>
        {%  endblock %}
        {% block contenido %}
            <form id="formulario" method="post" action="">{% csrf_token %}
                <table>{{ usuario }}
                    {{ formulario }}</table><br>
                <div class="enlace">
                    <input class="boton" type="submit" value="Registrar"/>
                    <a href="{% url 'usuarios:listar_usuarios' %}">Cancelar</a>
                </div>
            </form>
        {% endblock %}
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
        <a href="{% url 'home' %}">Home</a><br>
    {% endif %}
{% endblock cuerpo %}