{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}Crear Tipo US{% endblock titulo %}
{% block cuerpo %}
    <div class="contenido" style="display: block; padding-bottom: 18px">
        <h1>Crear nuevo Tipo de User Story</h1>
        <form id="form" action="" method="POST">
            {% csrf_token %}
            <h3>Nombre</h3>
            <p>{{ form.nombre }}</p>
            <h3>Descripcion</h3>
            <p>{{ form.descripcion }}</p>
            <h3>Campos</h3>
            <p>{{ form.campos }}</p>
            <div class="enlace">
                <input class="boton" style="font-size: inherit" type="submit" value="Crear">
            </div>
            <div class="enlace">
                <a href="{% url 'tipo_us:listar_tipo_us' proyecto.id %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock cuerpo %}
