<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, td {
            border: 1px solid black;
            padding: 1px;
        }
        table {
            border-spacing: 1px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Lista de Tipos de US</title>
</head>
<body>
    {% if "Visualizar Tipo US" in permisos %}
        <h1>Tipos de User Story</h1>
        {% if "Crear Tipo US" in permisos %}
            <a href="{% url 'tipo_us:crear_tipo_us' proyecto.id %}">Crear Tipo</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        <a href="{% url 'tipo_us:importar_tipo_us' proyecto.id %}">Importar Tipo</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        {% if miembro_tipo_us %}
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
                {% for m in miembro_tipo_us %}
                    <tr>
                        <td style="width:30%">{{ m.tipo_us }}</td>
                        <td>{{ m.tipo_us.descripcion }}</td>
                        {% if "Modificar Tipo US" in permisos %}
                            <td><a href="{% url 'tipo_us:modificar_tipo_us' proyecto.id m.id %}">Modificar</a></td>
                        {% endif %}
                        {% if "Eliminar Tipo US" in permisos %}
                            <td><a href="{% url 'tipo_us:eliminar_tipo_us' proyecto.id m.id %}">Eliminar</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <br>
        {% else %}
            <h1>No existen tipos de User Story</h1>
        {% endif %}
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
    {% endif %}
    <br><br>
    <a href="{% url 'proyectos:ver_detalles' proyecto.id  %}">Volver</a>
</body>
</html>

