{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}Tipos de US{% endblock titulo %}
{% block cuerpo %}
    {% if "Visualizar Tipo US" in permisos %}
        <h2>Tipos de User Story</h2>
        <div class="enlace">
        {% if "Crear Tipo US" in permisos %}
            <a href="{% url 'tipo_us:crear_tipo_us' proyecto.id %}">Crear Tipo</a>
        {% endif %}
        {% if "Importar Tipo US" in permisos %}
        <a href="{% url 'tipo_us:importar_tipo_us' proyecto.id %}">Importar Tipo</a>
        {% endif %}
        </div>
        <br><br>
        {% if miembro_tipo_us %}
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
                {% for m in miembro_tipo_us %}
                    <tr>
                        <td style="width:10%">{{ m.tipo_us }}</td>
                        <td style="width:100%">{{ m.tipo_us.descripcion }}</td>
                        {% if "Modificar Tipo US" in permisos %}
                            <td><div class="enlace"><a href="{% url 'tipo_us:modificar_tipo_us' proyecto.id m.id %}">Modificar</a></div></td>
                            <td><div class="enlace"><a href="{% url 'tipo_us:ordenar_campos' proyecto.id m.id %}">Ordenar</a></div></td>
                        {% endif %}
                        {% if "Eliminar Tipo US" in permisos %}
                            <td><div class="enlace"><a href="{% url 'tipo_us:eliminar_tipo_us' proyecto.id m.id %}">Eliminar</a></div></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <br>
        {% else %}
            <h1>No existen tipos de User Story</h1>
        {% endif %}
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
    {% endif %}
    <br>
    <div class="enlace">
    <a href="{% url 'userstory:listar_us' proyecto.id  %}">Volver</a>
    </div>
{% endblock cuerpo %}