<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, td {
            border: 1px solid black;
            padding: 1px;
        }
        table {
            border-spacing: 1px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Lista de UserStory</title>
</head>
<body>
    {% if "Visualizar US" in permisos %}
        <h1>User Story</h1>

        <br>
        {% if UserStory %}
            <table>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>tipode US</td>
                <td>horas estimadas</td>
                <td>fecha de creacion</td>
                <td>user point</td>
                <td>business value</td>
                <td>autor</td>
                <td>aprobado</td>
                <td>Proyecto</td>
                <td>Modificar</td>
                {% for us in UserStory %}
                <tr>
                    <td style="text-align: left">{{ us.nombre }}</td>
                    <td style="text-align: left">{{ us.descripcion }}</td>
                    <td style="text-align: left">{{ us.tipo_us }}</td>
                    <td style="text-align: left">{{ us.horas_estimadas }}</td>
                    <td style="text-align: left">{{ us.fecha_creacion }}</td>
                    <td style="text-align: left">{{ us.user_point }}</td>
                    <td style="text-align: left">{{ us.business_value }}</td>
                    <td style="text-align: left">{{ us.autor }}</td>
                    <td style="text-align: left">{{ us.aprobado }}</td>
                    <td style="text-align: left">{{ us.proyecto }}</td>
                    <td style="text-align: left"><a href="{% url 'userstory:modificar_us' us.id %}">Modificar</a></td>

                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1>No existen User Story</h1>
        {% endif %}
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
    {% endif %}
    <br><br>
    <a href="http://localhost:8000/">Home</a>
    <a href="http://localhost:8000/userstory/crear_us/{{ proyecto_id }}">Crear US</a>
    <a href="http://localhost:8000/tipo_us/">Administrar Tipo US</a>
    <br>

</body>
</html>