{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}Modificar US{% endblock titulo %}
{% block cuerpo %}
    {% if "Modificar US" in permisos %}
        <h2>Modificar User Story</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <table>{{ form }}</table>
            <br><br>
            <div class="enlace">
            <input class="boton" type="submit" value="Modificar">
            <a href="{% url 'userstory:listar_us' proyecto_id %}">Cancelar</a>
            </div>
        </form>
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
        <a href="{% url 'home' %}">Home</a><br>
    {% endif %}
{% endblock cuerpo %}
