{% extends 'sprints/sprint_detalles.html' %}
{% block titulo %}Agregar US{% endblock titulo %}
{% block cuerpo %}
    <h2>Agregar User Stories al Sprint Backlog</h2>
    <h3>Capacidad de trabajo: {{ sprint.capacidad }} horas. Tiempo restante: {{ tiempo_restante }}</h3>
    {% if UserStory %}
        <div style="max-height: 320px; overflow: scroll">
        {% for us in UserStory %}
            <button type="button" class="cortina">
                <p>{{ us.nombre }}</p>
                <p style="float: right">Prioridad: {{ us.prioridad }}</p>
            </button>
            <div class="contenido">
                <h3>Descripcion</h3>
                <p>{{ us.descripcion }}</p>
                <h3>Tipo de US</h3>
                <p>{{ us.tipo_us }}</p>
                <h3>Horas estimadas</h3>
                <p>{{ us.horas_estimadas }} horas</p>
                <h3>Prioridad tecnica</h3>
                <p>{{ us.user_point }}</p>
                <h3>Prioridad de negocio</h3>
                <p>{{ us.business_value }}</p>
                <h3>Trabajo previo en Sprint</h3>
                <p>{{ us.sprint_previo }}</p>
                <h3>Prioridad general</h3>
                <p>{{ us.prioridad }}</p>
                <h3>Fecha de creacion</h3>
                <p>{{ us.fecha_creacion }}</p>
                <h3>Autor</h3>
                <p>{{ us.autor }}</p>
                <h3>Aprobado</h3>
                <p>
                    {% if us.aprobado %}
                        Si
                    {% else %}
                        No
                    {% endif %}
                </p>
                <div class="enlace"><button class="boton" style="font-size: inherit" onclick="location.href='{% url 'sprints:agregar_us_sprintbacklog' sprint.id proyecto.id us.id %}'">Agregar</button></div>
                <br><br>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h1>No hay User Stories para agregar al Sprint Backlog</h1>
    {% endif %}
    <br><br>
    <div class="enlace">
        <a href="{% url 'sprints:sprint_backlog' sprint.id proyecto.id %}">Volver</a>
    </div><br><br>

    <script>
        var cortina = document.getElementsByClassName("cortina")
        var i;

        for (i = 0; i < cortina.length; i++) {
            cortina[i].addEventListener("click", function() {
                this.classList.toggle("activo");
                var contenido = this.nextElementSibling;
                if (contenido.style.display === "block") {
                    contenido.style.display = "none";
                } else {
                    contenido.style.display = "block";
                }
            })
        }
    </script>
{% endblock cuerpo %}
