{% extends 'sprints/sprint_detalles.html' %}
{% block titulo %}Asignar Miembros{% endblock titulo %}
{% block cuerpo %}
    {% if 'Asignar Miembros' in permisos %}
        <h1>Asignar Desarrolladores</h1>
        {% if miembros %}
            <table>
                <th>Nombre de usuario</th>
                {% for m in miembros %}
                    <tr>
                        <td>
                            {{ m.usuario }}
                        </td>
                        <td><div class="enlace">
                            <button class="boton" onclick="location.href='{% url 'sprints:asignar_capacidad_por_dia' sprint.id proyecto.id m.id %}'">Asignar</button>
                        </div></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No hay miembros que asignar al sprint.</p>
        {% endif %}
        <br>
        <div class="enlace">
        <a href="{% url 'sprints:listar_desarrolladores' sprint.id proyecto.id %}">Volver</a>
        </div>
    {% else %}
        <h1>No tienes los permisos para visualizar esta pagina</h1>
        <a href="{% url 'home' %}">Home</a><br>
    {% endif %}
{% endblock cuerpo %}
