{% extends 'proyectos/proyecto_detalles.html' %}
{% block script %}{% endblock script %}
{% block titulo %}Burndown Chart{% endblock titulo %}
{% block cuerpo %}
    <h2>Release Burndown Chart</h2>
    <div style="width:800px; margin-left: auto; margin-right: auto"><canvas id="burndown43"></canvas></div><br>
    <div class="enlace">
        <a href="{% url 'sprints:index' proyecto.id %}">Volver</a>
    </div><br><br>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
    /**
     * Sum elements of an array up to the index provided.
     */
    function sumArrayUpTo(arrData, index) {
      var total = 0;
      for (var i = 0; i <= index; i++) {
        if (arrData.length > i) {
          total += arrData[i];
            }
      }
      return total;
    }

    function showBurnDown(elementId, burndownData, scopeChange = []) {

      var speedCanvas = document.getElementById(elementId);

      Chart.defaults.global.defaultFontFamily = "Arial";
      Chart.defaults.global.defaultFontSize = 14;

      const totalHoursInSprint = burndownData[0];
      const idealHoursPerDay = totalHoursInSprint / 9;
      i = 0;

      var speedData = {
        labels: JSON.parse("{{ x_data|escapejs }}"),
        datasets: [
          {
            label: "Horas restantes",
            data: burndownData,
            fill: false,
            borderColor: "#EE6868",
            backgroundColor: "#EE6868",
            lineTension: 0,
          },
        ]
      };

      var chartOptions = {
        legend: {
          display: true,
          position: 'top',
          labels: {
            boxWidth: 80,
            fontColor: 'black'
          }
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: Math.round(burndownData[0] * 1.1)
                }
            }]
        }
      };

      var lineChart = new Chart(speedCanvas, {
        type: 'line',
        data: speedData,
        options: chartOptions
      });

    }
    </script>

    <script>
    showBurnDown (
      "burndown43",
      //   1    2    3    4    5    6    7    8    9   10
        {{ y_data }}, // burndown data
      [0,   0,   0,   0,   0,  0,   0,   0,   0,   0   ]  // scope change
    );
    </script>
{% endblock cuerpo %}