{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}Crear Sprint{% endblock titulo %}
{% block cuerpo %}
    {% if estado == "Planificacion" or estado == "En ejecucion" %}
        <h1>No es posible crear un Sprint teniendo ya un Sprint en progreso</h1>
        <div class="enlace">
            <a href="{% url 'sprints:index' proyecto.id %}">Volver</a>
        </div>
    {% else %}
        <h1>Crear Sprint</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table>{{ form }}</table><br>
            <div class="enlace">
                <input class="boton" type="submit" value="Crear">
                <a href="{% url 'sprints:index' proyecto.id %}">Cancelar</a>
            </div><br><br>
        </form>
    {% endif %}
{% endblock cuerpo %}