{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}{{ sprint.nombre }}{% endblock titulo %}
{% block sprint %}
    <h2>Sprint: {{ sprint.nombre }}</h2>
{% endblock sprint %}
{% block cuerpo %}
    <div class="contenido" style="display: block; padding-bottom: 18px">
        <h2>Desarrolladores</h2>
        <h3>Capacidad de trabajo: {{ capacidad_trabajo }} horas</h3>
        {% if desarrolladores %}
            <table>
                <tr>
                    <th>Desarrolladores</th>
                    <th style="width: 20%">Capacidad por dia</th>
                    <th style="width: 20%">Capacidad total</th>
                    <th style="width: 100%">US asignados</th>
                </tr>
                {% for d in desarrolladores %}
                    <tr>
                        <td>{{ d }}</td>
                        <td>{% if d.capacidad_por_dia == 1 %}
                            {{ d.capacidad_por_dia }} hora
                        {% else %}
                            {{ d.capacidad_por_dia }} horas
                        {% endif %}</td>
                        <td>{{ d.capacidad_total }} horas</td>
                        <td>
                            {% if not d.userstory.get_queryset %}
                                Vacio
                            {% endif %}
                            {% for u in d.userstory.get_queryset %}
                                {{ u }}<br>
                            {% endfor %}</td>
                        {% if sprint.estado == "Planificacion" or sprint.estado == "En ejecucion" %}
                            {% if "Asignar US A Usuario" in permisos%}
                                <td style="padding: 0px"><div class="enlace"><a href="{% url 'sprints:asignar_us' sprint.id proyecto.id d.id %}">Asignar US</a></div></td>
                            {% endif %}
                            {% if "Modificar Capacidad Por Dia" in permisos %}
                                <td style="padding: 0px"><div class="enlace"><a href="{% url 'sprints:modificar_capacidad_dia' sprint.id proyecto.id d.id %}">Modificar capacidad horaria</a></div></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1>No hay desarrolladores asignados</h1>
        {% endif %}
    </div><br>
    <div class="enlace">
    {% if "Asignar Desarrolladores" in permisos %}
        <a href="{% url 'sprints:asignar_desarrolladores' sprint.id proyecto.id %}">Asignar Desarrolladores</a>
    {% endif %}
    <a href="{% url 'sprints:ver_detalles' sprint.id proyecto.id %}">Volver</a>
    </div><br><br>
{% endblock cuerpo %}