{% extends 'sprints/sprint_detalles.html' %}
{% block titulo %}Gestionar Roles{% endblock titulo %}
{% block cuerpo %}
    <h2>Introduzca la capacidad laboral por dia del desarrollador: {{ miembro.usuario.user.username }}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <table>{{ form }}</table><br>
        <div class="enlace">
            <input class="boton" type="submit" value="Modificar">
        </div>
        <div class="enlace">
            <a href="{% url 'sprints:listar_desarrolladores' sprint.id proyecto.id %}">Cancelar</a>
        </div>
    </form><br>
{% endblock cuerpo %}