{% extends 'proyectos/proyecto_detalles.html' %}
{% block titulo %}{{ sprint.nombre }}{% endblock titulo %}
{% block sprint %}
    <h2>Sprint: {{ sprint.nombre }}</h2>
{% endblock sprint %}
{% block cuerpo %}
<h3>Informacion general</h3>
    <table>
        <tr>
            <td>Estado: </td>
            <td>{{ sprint.estado }}</td>
        </tr>
        <tr>
            <td>Descripcion: </td>
            <td>{{ sprint.descripcion }}</td>
        </tr>
        <tr>
            <td>Fecha de inicio: </td>
            <td>{{ sprint.fecha_inicio }}</td>
        </tr>
        <tr>
            <td>Fecha final: </td>
            <td>{{ sprint.fecha_fin }}</td>
        </tr>
        <tr>
            <td>Duracion: </td>
            <td>{{ sprint.duracion }} dias</td>
        </tr>
        <tr>
            <td>Capacidad de trabajo: </td>
            <td>{{ sprint.capacidad }} horas</td>
        </tr>
    </table><br>
    <div class="enlace">
        {% if sprint.estado == 'Planificacion' %}
            {% if "Iniciar Sprint" in permisos %}
                <button class="boton" onclick="location.href='{% url 'sprints:iniciar_proyecto' sprint.id proyecto.id %}'">Iniciar</button>
            {% endif %}
        {% elif sprint.estado == 'En ejecucion' %}
            {% if "Finalizar Sprint" in permisos %}
                <button class="boton" onclick="location.href='{% url 'sprints:finalizar_proyecto' sprint.id proyecto.id %}'">Finalizar</button>
            {% endif %}
            {% if "Cancelar Sprint" in permisos %}
                <button class="boton" onclick="location.href='{% url 'sprints:cancelar_proyecto' sprint.id proyecto.id %}'">Cancelar</button>
            {% endif %}
        {% endif %}
        {% if "Visualizar Sprint Backlog" in permisos %}
            <a href="{% url 'sprints:sprint_backlog' sprint.id proyecto.id %}">Sprint Backlog</a>
        {% endif %}
        {% if sprint.estado == 'Planificacion' or sprint.estado == 'En ejecucion' %}
            <a href="{% url 'sprints:asignar_us' sprint.id proyecto.id %}">US Asignados</a>
            {% if "Visualizar Tablero" in permisos %}
                <a href="{% url 'tableros:index' sprint.id proyecto.id %}">Tablero Kanban</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'sprints:index' proyecto.id %}">Volver</a>
    </div>
{% endblock cuerpo %}