{% extends 'sprints/sprint_detalles.html' %}
{% block titulo %}Registrar tarea{% endblock titulo %}
{% block cuerpo %}
    <h2>Tablero {{ tablero.tipo_us.tipo_us }}</h2>
    <div class="contenido" style="display: block">
        <h1>Registrar tarea en el US: {{ us }}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <h3>Horas trabajadas</h3>
            <p>{{ form.horas_trabajadas }}</p>
            {% if mensaje %}
                <p style="color: red">{{ mensaje }}</p>
            {% endif %}
            <h3>Mensaje adjunto a registrar</h3>
            <p>{{ form.mensaje }}</p>
            <div class="enlace">
            <input class="boton" style="font-size: inherit" type="submit" value="Registrar">
            </div><br><br>
        </form>
    </div>
    <h3>Tu capacidad diaria: {{ capacidad_dia_desarrollador }} horas. Tu capacidad total de trabajo: {{ capacidad_desarrollador }} horas</h3>
    <div class="enlace"><a href="{% url 'tableros:tablero_us_detalles' tablero.id sprint.id proyecto.id us.id %}">Volver</a></div>
    <br><br>
{% endblock cuerpo %}